@use 'src/base_css/base';

//#invitation_letter{
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: space-around;
//  padding: 2vh;
//  background-color: white;
//  height: 71vh;
//  width: 25vw;
//}
//
//#invitation_video{
//  background-color: white;
//  height: 75vh;
//  width: 50vw;
//}
//
//#invitation_video iframe{
//  height: 75vh;
//  width: 50vw;
//}

#modal_window{
  position: absolute;
  display: flex;
  top: 0;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(3, 0, 0, 0.9);
  z-index: 3;
}

.close_button {
  opacity: 0.1;
  position: relative;
  right: 9vw;
  font-family: base.$font-text;
  font-weight: bold;
  display: flex;
  justify-content: end;
  padding: 1vh 1vw;
  background-color: base.$black;
  color: base.$white;
  border-radius: 6px;
  cursor: pointer;
}

.close_button:hover {
  opacity: 1;
  background-color: base.$black;
  color: base.$white;
}

.arrow:hover{
  opacity: 0.25;
}

@media screen and (min-width: base.$breakpoint), (orientation: landscape) {
  .arrow img{
    height: 10vh;
  }

  #content_heigh{
    display: flex;
    align-items: center;
    height: auto;
  }

  .invitation_image{
    height: 80vh;
  }

  .clode_div{
    height: 80vh;
    padding-top: 3vh;
    display: flex;
    align-items: start;
  }

  .arrow{
    height: 80vh;
    width: 5vw;
    //background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #left_arrow{
    position: relative;
    left: 5vw;
  }

  #right_arrow{
    position: relative;
    right: 5vw;
  }
}

@media screen and (max-width: base.$breakpoint) and (orientation: portrait) {
  .clode_div{
    height: auto;
    padding-top: 2vh;
    display: flex;
    align-items: start;
  }

  #content_heigh{
    display: flex;
    flex-direction: row;
    height: auto;
  }

  .arrow img{
    height: 10vh;
    z-index: 2;
  }

  .invitation_image{
    position: relative;
    left: 2vw;
    width: 90vw;
    height: auto;
  }

  .arrow{
    height: auto;
    width: 10vw;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  #left_arrow{
    position: relative;
    left: 12vw;
  }

  #right_arrow{
    position: relative;
    right: 8vw;
  }

  .clode_div{
    height: auto;
    //padding-top: 3vh;
    position: relative;
    right: 5vw;
    display: flex;
    align-items: start;
  }

  .close_button{
    padding: 1vw 1vw;
    z-index: 5;
  }
}